@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 601px até 768px
Tablet: de 769px até 992px
Desktop: de 993px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    
    #menu{
        display: none; /*Para ocultar o símbolo do menu.*/
    }

    menu{
        display: block; /*Para mostrar as opções de menu*/
    }

    menu li{
        display: inline-block; /*Como os ítens do menu estão em uma lista, esta configuração foi necessária para colocá-los lado a lado.*/
    }

    main{
        width: 768px;
    }
}