@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header{
    background-color: #1d1e20;
    display: flex; /*Para colocar os itens um do lado do outro.*/
    flex-wrap: wrap; /*Isso é para ajustar em telas pequenas, fazendo com que o menu fique abaixo do logo.*/
    justify-content: space-between; /*Para dar espaço entre os ítens. No space-around é criado um espaço antes e depois dos ítens. Por isso foi usado o space-between.*/
    align-items: center; /*Para centralizar o logo verticalmente.*/
    padding: 20px;
}

header a{
    color: white;
}

.menu{
    display: flex; /*Para ajustar os itens da lista um ao lado do outro.*/
}

.menu li a{
    display: block; /*Percebi direfença na altura do header.*/
    padding: 10px;
    margin-left: 10px;
}

h1{
    text-align: center;
    margin: 20px;
}

img{
    /*display: block;*/
    max-width: 100%; /*Para deixar as imagens responsivas.*/
    
}
/*As propriedades determinadas em img são essenciais para que o .grid funcione corretamente!*/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*Para dividir as seções em 2 colunas.*/
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
    align-items: start; /*Para alinhar as imagens laterais com o topo da imagem principal.*/
}

article:nth-child(1){
    grid-row: 1 / 3; /*Para informar que o primeiro article ocupa da linha 1 até a linha 3.*/
}

/*As propriedades abaixo são para colocar a legenda acima da foto, sem usar o position e o translate.*/

article{
    display: grid;
}

/*As propriedades abaixo são para posicionar a imagem e a legenda.*/
article img{
    grid-column: 1; /*Posicionar a imagem na primeira coluna.*/
    grid-row: 1/3; /*As imagens foram divididas em 3 linhas.*/
    align-self: end; /*Essencial para alinhar a legenda com a parte inferior das imagens.*/
}

article p{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1; /*Posicionar a legenda na primeira coluna.*/
    grid-row: 2; /*A legenda passou a ocupar a segunda linha. Após determinarmos o grid-row como 1/3.*/
    align-self: end;
}