@charset "UTF-8";

/* Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 601px até 768px
Tablet: de 769px até 992px
Desktop: de 993px até 1200px
Grandes telas: acima de 1200px
*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg); /*desnecessário*/
    }

    main{
        width: 90%;
        border:  2px solid black;
    }
    
    h1{
        text-shadow: none;
        color: black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone{ display: none;}
    #tablet{ display: block;}
    #print{ display: none;}
    #pc{ display: none;}
    #tv{ display: none;}
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone{ display: none;}
    #tablet{ display: none;}
    #print{ display: none;}
    #pc{ display: block;}
    #tv{ display: none;}
}

@media screen and (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width: 700px;
    }

    #phone{ display: none;}
    #tablet{ display: none;}
    #print{ display: none;}
    #pc{ display: none;}
    #tv{ display: block;}
}